<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <link th:href="@{/css/darkmode.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="main">

        <div class="sidebar">
            <div class="menu">
                <img class="menu-icon" th:src="@{/images/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
            </div>

            <hr class="divider">

            <div class="guest-view">
                <div class="profile">
                    <img th:src="@{/images/account_circle_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}" alt="User Profile" class="profile-image">
                    <button class="primary-button none-display loginPage">로그인</button>
                </div>
            </div>

            <div class="user-view" style="display: none;">
                <div class="profile" >
                    <img th:src="@{/images/account_circle_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}" alt="User Profile" class="profile-image">
<!--                    <button class="primary-button none-display">프로필 사진 변경</button>-->
                    <button id="profileModalBtn" class="primary-button none-display">프로필 사진 변경</button>
                </div>

                <div class="info1">
                    <span class="myNickname" id="myNickname" >닉네임</span>
                    <span class="plans" id="myRoles">역할</span>
                </div>

                <div class="info2" >
                    <span class="credit" id="myCredit">100C</span>
                    <span class="subscription" id="mySubscription">구독제</span>
                </div>
            </div>
            <div class="admin-view" style="display: none;">
                <div class="profile" >
                    <img th:src="@{/images/account_circle_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}" alt="User Profile" class="profile-image">
                </div>

                <div class="info1">
                    <span class="myNickname" id="adminNickname" >관리자</span>
                    <span class="plans" id="adminRoles">ADMIN</span>
                </div>

            </div>

            <hr class="divider">

            <div class="sidebar-item" id="soundTracksRoute">
                <img class="sidebar-icon" th:src="@{/images/music_note_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                <span class="sidebar-text" >곡</span>
            </div>

            <div class="sidebar-item">
                <img class="sidebar-icon" th:src="@{/images/graphic_eq_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                <span class="sidebar-text">효과음</span>
            </div>

            <hr class="divider.user-view" style="display: none;">
            <hr class="divider.admin-view" style="display: none;">

            <div class="user-view" style="display: none;">
                <div class="sidebar-my-info">
                    <!-- 타이틀 영역 (클릭하면 펼쳐짐) -->
                    <div class="sidebar-my-info-title">
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/info_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                            <span class="sidebar-text" id="myMore">더 보기</span>
                        </div>
                    </div>

                    <!-- 펼쳐질 내부 내용 -->
                    <div class="user-view-content">
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/album_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg}">
                            <span class="sidebar-text" id="mySoundRoute">내 음원 조회</span>
                        </div>
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/psychology_alt_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                            <span class="sidebar-text" id="myInfoRoute">내 정보 조회</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="admin-view" style="display: none;">
                <div class="sidebar-admin-info">
                    <!-- 타이틀 영역 (클릭하면 펼쳐짐) -->
                    <div class="sidebar-admin-info-title">
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/info_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                            <span class="sidebar-text" id="adminMore">더 보기</span>
                        </div>
                    </div>

                    <!-- 펼쳐질 내부 내용 -->
                    <div class="admin-view-content">
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/psychology_alt_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                            <span class="sidebar-text" id="adminStatisticRoute">사이트 통계 조회</span>
                        </div>
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/psychology_alt_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                            <span class="sidebar-text" id="adminInfoRoute">회원 정보 조회</span>
                        </div>
                        <div class="sidebar-item">
                            <img class="sidebar-icon" th:src="@{/images/album_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg}">
                            <span class="sidebar-text" id="adminSoundRoute">앨범 정보 조회</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider">
            
            <div class="sidebar-item">
                <img class="sidebar-icon" th:src="@{/images/help_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                <span class="sidebar-text">문의</span>
            </div>

            <div class="toggle-container">
                <img th:src="@{/images/light_mode_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                <input type="checkbox" id="darkModeToggle" class="darkMode-checkbox">
                <label for="darkModeToggle" class="darkMode-label"></label>
                <img th:src="@{/images/dark_mode_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                </label>
            </div>
        </div> <!-- end sidebar -->

        <div class="article">
            <div class="navigation">
                <div class="navigation-menu">
                    <img class="navigation-menu-icon" th:src="@{/images/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg}">
                </div>
                <div class="sitename font-size-small" id="sitename"><img src="/images/SoundBrew.svg"></div>

                <div class="auth-container">
                    <div class="guest-view" id="registerPage" style="margin-right: 10px;">회원가입</div>
                    <div class="guest-view loginPage">로그인</div>
                    <div class="user-view logoutPage" style="display : none;">로그아웃</div>
                    <div class="admin-view logoutPage" style="display : none;">로그아웃</div>
                </div>

            </div><!-- end navigation -->
            <div id="searchContainer" class="searchContainer"></div>
            <div class="content" layout:fragment="content">
                <span class="play-trigger" style="cursor: pointer; color: blue;">재생</span>
            </div><!-- end content -->
            <div class="pagination-container" id="pagination-container"></div>
            <div class="footer">
                푸터 영역
            </div><!-- end footer -->
        </div><!-- end article -->
    </div><!-- end main -->

    <!-- 프로필 사진 변경 모달 -->
    <div id="profileModal" class="profile-modal hidden">
        <div class="modal-content profile-modal-content">
            <h2>프로필 사진 변경</h2>
            <!-- 폼으로 감싸서 제출 이벤트를 받을 수 있게 함 -->
            <form id="profileForm">
                <input type="file" id="profileInput" name="file" accept=".jpg,.jpeg,.png"/>
                <div class="preview-container">
                    <img id="profilePreview" src="" alt="이미지 미리보기" />
                </div>
                <!-- 저장 버튼은 submit 타입 -->
                <button type="submit" id="saveProfileImage" class="primary-button">저장</button>
                <!-- 취소 버튼은 단순 버튼 -->
                <button type="button" id="cancelProfileImage" class="secondary-button">취소</button>
            </form>
        </div>
    </div>

    <!-- 다크모드 js -->
    <script th:src="@{/js/darkmode.js}"></script>
    <!-- 사이드바 확장 js -->
    <script th:src="@{/js/sidebarExpand.js}"></script>
    <!-- 검색바 기능 -->
    <script src="/js/search.js"></script>
    <script type="module" src="/js/userProfile.js"></script>
    <script type="module">
        import TokenUtil from '/js/tokenUtil.js';

        document.addEventListener("DOMContentLoaded", () => {
            const token = TokenUtil.getToken(); // accessToken을 가져옴

            // 토큰이 존재하고 만료되지 않았다면
            if (token && !TokenUtil.isTokenExpired(token)) {
            document.querySelectorAll('.guest-view').forEach(view => {
                view.style.display = "none";
            });

            const userInfo = TokenUtil.getUserInfo(token);
            document.getElementById("myNickname").innerText = userInfo.nickname;

            document.querySelectorAll('.user-view, .admin-view').forEach(view => {
                view.style.display = "none";
            });

            // 역할에 따라 적절한 뷰를 표시합니다.
            if (userInfo.roles.includes("ROLE_ADMIN")) {
                document.querySelectorAll('.admin-view').forEach(view => {
                    view.style.display = "block";
                });
                document.getElementById("myRoles").innerText = "관리자";
            } else if (userInfo.roles.includes("ROLE_USER")) {
                document.querySelectorAll('.user-view').forEach(view => {
                    view.style.display = "block";
                });
                document.getElementById("myRoles").innerText = "회원";
            } else {
                alert("회원 권한이 등록되지 않았습니다. token 정보 혹은 DB를 확인하세요.");
            }

            console.log("로그인 사용자 정보:", userInfo);
        }
            //layout route
            //userProfile.js
        });
    </script>
    <th:block layout:fragment="script">
    </th:block>
</body>
</html>
