HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

###Server(EC2)###
soundbrew-key.pem

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Spring Boot 환경설정 파일 무시
.env               # 환경 변수 파일 (DB, API Key 등 민감 정보 포함 가능)

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# MacOS에서 자동으로 생성되는 파일들 무시
.DS_Store          # MacOS 탐색기에서 생성되는 메타데이터 파일
.AppleDouble        # MacOS 네트워크 파일 시스템 접근 시 생성되는 파일
.LSOverride         # MacOS에서 기본 프로그램을 설정할 때 생성되는 파일

# MacOS에서 숨김 파일 및 트래시 관련 파일 무시
._*                # MacOS 숨김 파일
Icon?              # MacOS에서 아이콘 설정 시 생성되는 파일
.Trashes           # MacOS에서 삭제된 파일을 저장하는 휴지통 폴더
.Spotlight-V100    # Spotlight 검색 인덱스 관련 파일
.VolumeIcon.icns   # MacOS에서 드라이브 아이콘 설정 시 생성되는 파일

# Java 컴파일 및 빌드 후 생성되는 파일 무시
*.class            # Java 컴파일 후 생성되는 클래스 파일
*.jar              # Java 프로젝트 빌드 후 생성되는 JAR 파일
*.war              # Java 웹 애플리케이션 아카이브 파일
*.ear              # Java 엔터프라이즈 애플리케이션 아카이브 파일

# 로그 및 임시 파일 무시
*.log              # 애플리케이션 실행 시 생성되는 로그 파일
*.tmp              # 임시 파일

# application-dev.yml 파일 무시
application-dev.yml

# Lombok 관련 파일 무시
.lombok/           # Lombok 라이브러리 사용 시 생성되는 파일

keystore.p12
