<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}"
>
<th:block layout:fragment="script">
    <!-- 해당 페이지 전용 js-->
<!--    <script th:src="@{/js/manage-tags.js}"></script>-->
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/manage-albums.css}" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
    <div id="render-update" class="render-update"></div>
    <div class="content-header">Manage Information</div>
    <div class="content-body">
        <!-- Table for Album Information Modification -->
        <h3>앨범 정보 수정</h3>
        <table class="table-container">
            <thead>
            <tr>
                <th>ID</th>
                <th>아티스트Id</th>
                <th>앨범 제목</th>
                <th>앨범 설명</th>
                <th>업로드일</th>
                <th>수정일</th>
                <th>작업</th>
            </tr>
            </thead>
            <tbody id="render-albums-manage-container">
            <!-- Albums will be rendered here -->
            </tbody>
            <tfoot>
            <tr id="no-albums-message">
                <td colspan="7">앨범이 없습니다.</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

</body>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/manage.js"></script>
<script type="module">
    import { serializeFormToJSON } from '/js/serialize/formToJson.js';
    import { axiosGet, axiosPost, axiosPatch, axiosDelete } from '/js/fetch/standardAxios.js';
    import { inputHandler } from '/js/check/inputHandler.js';
    import { processingRules, validationRules } from '/js/check/inputRules.js';
    import { renderManageAlbums } from '/js/render/sound.js';

    document.addEventListener('DOMContentLoaded', async () => {
        try {
            // API 호출 및 렌더링 처리
            const renderTotal = await axiosGet({endpoint:'/api/me/albums'});
            console.log(renderTotal);
            renderManageAlbums(renderTotal.dtoList);

        } catch (error) {
            console.error('Error occurred while rendering:', error);
        }

        // 폼을 서버로 전송하는 함수
    async function sendUpdateRequest(albumId, formData) {
        const response = serializeFormToJSON(formData);
        const { errors, processedData } = inputHandler(response);

        if (!errors) {
            await axiosPatch({ endpoint: '/api/me/albums/' + albumId, body: processedData });
            location.reload();  // 새로고침
        }
    }
    window.sendUpdateRequest=sendUpdateRequest;
    });
</script>
</th:block>
<!-- 다크모드 js -->
<script src="/static/js/darkmode.js"></script>
<!-- 사이드바 확장 js -->
<script src="/static/js/sidebarExpand.js"></script>
<!-- 뮤직 플레이어 js -->
<script src="/static/js/musicPlayer.js"></script>
</html>
