<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<th:block layout:fragment="script">
    <!-- 해당 페이지 전용 js-->
    <script th:src="@{/js/manage-tags.js}"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/manage-albums.css}" rel="stylesheet">
</head>

<body>
    <div layout:fragment="content">
        <div class="content-header">Manage Information</div>
        <div class="content-body">
            <!-- Table for Album Information Modification -->
            <h3>앨범 정보 수정</h3>
            <table class="table-container">
                <tr>
                    <th>ID</th>
                    <th>아티스트Id</th>
                    <th>타이틀</th>
                    <th>앨범 설명</th>
                    <th>업로드일</th>
                    <th>수정일</th>
                    <th>작업</th>
                </tr>
                <th:block th:if="${myAlbums.present}">
                    <tr th:each="album : ${myAlbums.get()}">
                        <td th:text="${album.albumId}">1</td>
                        <td th:text="${album.userId}">Jonsi</td>
                        <td>
                            <span class="current-value" data-field="albumTitle" th:text="${album.albumName}">My Album Title</span>
                            <input type="text" class="editable-field" data-field="albumTitle" th:value="${album.albumName}">
                        </td>
                        <td>
                            <span class="current-value" data-field="albumDescription" th:text="${album.description}">My Album Description</span>
                            <input type="text" class="editable-field" data-field="albumDescription" th:value="${album.description}">
                        </td>
                        <td th:text="${#temporals.format(album.create_date, 'yyyy-MM-dd')}">2024-01-10</td>
                        <td th:text="${#temporals.format(album.modify_date, 'yyyy-MM-dd')}">2024-01-10</td>
                        <td>
                            <button class="edit-button" onclick="enableEditing(this)">수정하기</button>
                            <button class="apply-button" onclick="applyChanges(this, [[${album.albumId}]])">적용</button>
                            <button class="cancel-button" onclick="cancelChanges(this)">취소</button>
                        </td>
                    </tr>
                </th:block>
                <tr th:if="${!myAlbums.present}">
                    <td colspan="7">앨범이 없습니다.</td>
                </tr>
            </table>
        </div>
    </div>
</body>



<!-- 다크모드 js -->
<script src="/static/js/darkmode.js"></script>
<!-- 사이드바 확장 js -->
<script src="/static/js/sidebarExpand.js"></script>
<!-- 뮤직 플레이어 js -->
<script src="/static/js/musicPlayer.js"></script>
</html>
