<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<th:block layout:fragment="script">
    <!-- 해당 페이지 전용 js-->
    <script th:src="@{/js/manage-musics.js}"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/manage-musics.css}" rel="stylesheet">
</head>

    
<body>
    <div class="content" layout:fragment="content">
        <div class="content-header">Manage Information</div>
        <div class="content-body">
            <!-- Table for Album Information Modification -->
            <h3>앨범 정보 수정</h3>
            <table class="table-container">
                <tr>
                    <th>ID</th>
                    <th>아티스트</th>
                    <th>타이틀</th>
                    <th>음원 설명</th>
                    <th>음원 타입</th>
                    <th>업로드일</th>
                    <th>수정일</th>
                    <th>작업</th>
                </tr>
                <th:block th:if="${mySounds.present}">
                <tr th:each="sound : ${mySounds.get()}">
                    <td th:text="${sound.musicId}">1</td>
                    <td th:text="${sound.userId}">Jonsi</td>
                    <td>
                        <span class="current-value" data-field="musicTitle" th:text="${sound.title}">My Album Title</span>
                        <input type="text" class="editable-field" data-field="musicTitle" th:text="${sound.title}">
                    </td>
                    <td>
                        <span class="current-value" data-field="musicDescription" th:text="${sound.description}">My Album Description</span>
                        <input type="text" class="editable-field" data-field="musicDescription" th:text="${sound.description}">
                    </td>
                    <td>
                        <span class="current-value" data-field="soundType" th:text="${sound.soundType}">sound</span>
                        <div class="editable-field" data-field="soundType">
                            <label>
                                <input type="radio" name="soundType" value="sound" checked> sound
                            </label>
                            <label>
                                <input type="radio" name="soundType" value="sfx"> sfx
                            </label>
                        </div>
                    </td>
                    <td th:text="${#temporals.format(sound.create_date, 'yyyy-MM-dd')}">2024-01-10</td>
                    <td th:text="${#temporals.format(sound.modify_date, 'yyyy-MM-dd')}">2024-01-10</td>
                    <td>
                        <button class="edit-button" onclick="enableEditing(this)">수정하기</button>
                        <button class="apply-button" onclick="applyChanges(this, [[${sound.musicId}]])">적용</button>
                        <button class="cancel-button" onclick="cancelChanges(this)">취소</button>
                    </td>
                </tr>
                </th:block>
                <tr th:if="${!mySounds.present}">
                    <td colspan="7">음원이 없습니다.</td>
                </tr>
            </table>
        </div>
    </div>
</body>

<!-- 다크모드 js -->
<script src="/static/js/darkmode.js"></script>
<!-- 사이드바 확장 js -->
<script src="/static/js/sidebarExpand.js"></script>
<!-- 뮤직 플레이어 js -->
<script src="/static/js/musicPlayer.js"></script>
</html>
