<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Page</title>
    <link th:href="@{/css/sound/sound.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div id="render-sound-one-container" class="render-sound-one-container"></div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script type="module">
        import { axiosGet, axiosPost } from '/js/fetch/standardAxios.js';
        import {renderSoundOne} from '/js/render/sound.js';

        document.addEventListener('DOMContentLoaded', async () => {
            try{
                const queryParams = new URLSearchParams( window.location.search);
                const nickname = queryParams.get('nickname');
                const albumName = queryParams.get('title');

                const response = await axiosGet({endpoint:'/api/sounds/tracks/'+nickname+'/title/'+albumName});
                const tagsBody = { dto: [response.dto] };
                const renderTags = await axiosPost({endpoint:'/api/sounds/tags',body:tagsBody});

                renderSoundOne(response.dto,renderTags);
            }catch (error) {
                console.error('Error occurred while rendering:', error);
            }
        });
    </script>
</th:block>
</html>
