<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>

    <!-- module css -->
    <link th:href="@{/css/sound/music.css}" rel="stylesheet">
    <link th:href="@{/css/sound/album.css}" rel="stylesheet">
    <link th:href="@{/css/sound/sound.css}" rel="stylesheet">
    <link th:href="@{/css/sound/album-list.css}" rel="stylesheet">

    <link href="/css/sound/player.css" rel="stylesheet">
</head>

<body>
    <div layout:fragment="content">

        <div class="content-header">
            <div id="render-album-info-container" class="render-album-info-container"></div>

            <div id="render-view-type-container" class="render-view-type-container"></div>
            <!-- tag body -->
            <div id="render-tags-sort-container" class="render-tags-sort-container"></div>
            <!-- sort body -->
            <div id="render-result-sort-container" class="render-result-sort-container"></div>
        </div>
        <!-- music body -->
        <div class="content-body" id="content-body"></div>

        <div class="audio-player-bar">
            <!-- Player container -->
            <div class="player-container">
                <!-- Top Layer -->
                <div class="player-top-layer">
                    <div class="progress-container">
                        <input type="range" id="progress-bar" value="0" min="0" max="100">
                    </div>
                </div>

                <!-- Bottom Layer -->
                <div class="player-bottom-layer">
                    <div class="player-item-left">
                        <img alt="앨범 이미지" class="player-album-img" src="" onerror="this.src='/images/album-default-image-01.jpeg'">
                        <div class="player-play-btn" >
                            <img id="play-pause-btn" src="/images/play_circle_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="재생">
                        </div>
                        <div class="player-info">
                            <h3>제목</h3>
                            <p>앨범</p>
                            <h2 hidden>음원</h2>
                        </div>
                        <div class="player-info-time">
                            <!--                    <p>${sound.musicDTO.musicDuration || '0:00'}</p>-->
                            <p class="time" id="current-time">0:00</p>
                            <p class="time" id="total-time">0:00</p>
                        </div>
                    </div>
                    <div class="waveform" id="waveform"></div>
                    <div class="volume-container">
                        <img src="/images/download_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="다운로드">
                        <img src="/images/shopping_bag_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="장바구니">
                        <img src="/images/link_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="공유">
                        <input type="range" id="volume-bar" class="volume-bar" value="100" min="0" max="100">
                    </div>
                </div>
            </div>
        </div>
        <div id="userDetailModal" class="detailModal" style="display: none;">
            <div class="detail-modal-content">
                <span class="close" style="cursor:pointer; float:right;">&times;</span>
                <h2>User Details</h2>
                <div id="detail-modal-body">
                    <!-- 추가 정보 테이블이 여기에 들어갑니다 -->
                </div>
            </div>
        </div>
        <div id="soundDetailModal" class="detailModal" style="display: none;">
            <div class="detail-modal-content">
                <span class="close" style="cursor:pointer; float:right;">&times;</span>
                <h2>Sound Details</h2>
                <div id="sound-detail-modal-body">
                    <!-- 추가 정보 테이블이 여기에 들어갑니다 -->
                </div>
            </div>
        </div>
    </div>
</body>

<th:block layout:fragment="script">
    <script src="https://unpkg.com/wavesurfer.js"></script>

    <script type="module">
        import { router } from '/js/router.js';
        import {initializeMusicPlayer} from '/js/sound/soundPlaying.js';
    </script>
</th:block>
</html>
