<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Page</title>
    <link th:href="@{/css/sound.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        <div id="render-sound-one-container" class="render-sound-one-container"></div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        import { axiosGet, axiosPost, axiosPut, axiosDelete } from '/js/fetch/standardAxios.js';
        import { inputProcessor, inputValidator, inputHandler } from '/js/check/inputHandler.js';
        import { serializeFormToJSON } from '/js/serialize/formTojson.js'
        import {renderSoundOne, renderTagsFromSearch, renderSort} from '/js/render/sound.js';

        document.addEventListener('DOMContentLoaded', async () => {
            try {
                // API 호출 및 렌더링 처리
                const nickname ="u_1";
                const title ="Gentle Breeze";

                const response = await axiosGet({endpoint:'/api/sounds/tracks/'+nickname+'/title/'+title});
                const tagsBody = { dto: [response.dto] };
                const renderTags = await axiosPost({endpoint:'/api/sounds/tags',body:tagsBody});

                renderSoundOne(response.dto,renderTags);
            } catch (error) {
                console.error('Error occurred while rendering:', error);
            }
        });
    </script>
</th:block>
</html>
