<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>내 구독 정보</title>
    <link href="../css/mySubscription.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        내 구독 정보
    </div>

    <div class="content-body">
        <div class="dashboard-container">
            <!-- 왼쪽 열: 결제 수단 카드 -->
            <div class="left-column">

                <div class="subscription-info-container">
                    <div class="subscription-info-card">
                        <h2>Free</h2>
                        <p>월 결제 금액: 0원</p>
                        <p>월 크레딧: 0</p>
                        <p>가입일: <span>2025-01-01</span></p>
                        <div class="button-container">
                            <button type="button">구독 변경</button>
                            <button type="button">구독 취소</button>
                        </div>
                    </div>
                </div>
                <div class="payment-method-container">
                    <div class="payment-method-card">
                        <div class="card-name">SoundBrew Test Card</div>
                        <div class="card-info">
                            <div class="card-number">
                                <p>**** **** **** 1234</p>
                            </div>
                            <div class="cvc">
                                <p>123</p>
                            </div>
                        </div>
                        <div class="card-details">
                            <p>유효기간: 12/24</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 오른쪽 열: 구독 정보 및 결제 내역 -->
            <div class="right-column">

                <div class="payment-history-container">
                    <div class="payment-history-card">
                        <h2>결제 내역</h2>
                        <!-- 결제 내역 예시 -->
                        <p>2025-01-01: 결제 실패</p>
                        <p>2024-12-01: 결제 완료</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-footer">
        <!-- Footer 내용 -->
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script type="module">
        import { serializeFormToJSON } from '/js/serialize/formToJson.js';
        import { serializeInputToJSON } from '/js/serialize/inputToJson.js';
        import { axiosPatch } from '/js/fetch/standardAxios.js';
        import { inputHandler } from '/js/check/inputHandler.js';
    </script>
</th:block>
</html>
