<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>관리자 홈</title>
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        관리자 통합 메뉴

    </div>

    <div class="content-body">
        <div class="statistics-section">
            <div class="Statistics">
                사이트 통계 자료 - 방문자 수, 트래픽양, 전체 곡 수 등 자료
            </div>
        </div>
        <div class="management-section">
            <div class="user-section">
                <span class="title">사용자 관리</span><br>
                1.회원 전체목록 보기<br>
                <!-- 특정 회원 정보 보기  -->
                2.회원 정보 수정<br>
                3.회원 삭제<br>
            </div>

            <div class="album-section">
                <span class="title">앨범 관리</span><Br>
                1. 앨범 승인 요청 목록 보기<br>
                2. 앨범 정보 보기<Br>
                <!--
                1. 앨범 한개 정보 보기<br>
                2. 앨범 수정<Br>
                -->

                3. 앨범 삭제<Br>

            </div>
            <div class="music-section">
                <span class="title">음원 관리</span><Br>
                1. 음원 정보 보기<Br>
                <!--
                1. 음원 한개 정보 보기<Br>
                2. 음원 수정<Br>
                -->

                3. 음원 삭제<Br>
            </div>
            <div class="tag-section">
                <span class="title">태그 관리</span><Br>
                1. 전체 태그 리스트 보기<Br>
                <!--
                1. 악기 태그 수정<Br>
                2. 무드 태그 수정<Br>
                3. 장르 태그 수정<Br>
                -->
                2. 태그 생성<Br>

            </div>
            <div class="etc-section">
                <span class="title">기타 관리</span>
            </div>
        </div>
    </div>

    <div class="content-footer">

    </div>

</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    console.log("loaded script..");
</script>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--    -->
<!--    <link href="../css/layout.css" rel="stylesheet">-->
<!--    <link href="../css/darkmode.css" rel="stylesheet">-->
<!--    <link href="../css/common.css" rel="stylesheet">-->

<!--</head>-->
<!--<body>-->
<!--    <div class="main">-->

<!--        <div class="sidebar">-->
<!--            <div class="menu">-->
<!--                <img class="menu-icon" src="../../../../../../Desktop/뷰%20작업/images/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            </div>-->

<!--            <hr class="divider">-->
<!--            -->
<!--            <div class="profile">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/account_circle_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="User Profile" class="profile-image">-->
<!--                <button class="primary-button none-display">로그인</button> -->
<!--            </div>-->

<!--            <hr class="divider">-->

<!--            <div class="sidebar-item">-->
<!--                <img class="sidebar-icon" src="../../../../../../Desktop/뷰%20작업/images/home_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                <span class="sidebar-text">홈</span>-->
<!--            </div>-->
<!--            <div class="sidebar-item">-->
<!--                <img class="sidebar-icon" src="../../../../../../Desktop/뷰%20작업/images/music_note_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                <span class="sidebar-text">곡</span>-->
<!--            </div>-->
<!--            <div class="sidebar-item">-->
<!--                <img class="sidebar-icon" src="../../../../../../Desktop/뷰%20작업/images/graphic_eq_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                <span class="sidebar-text">효과음</span>-->
<!--            </div>-->

<!--            <hr class="divider">-->
<!--            -->
<!--            <div class="sidebar-item">-->
<!--                <img class="sidebar-icon" src="../../../../../../Desktop/뷰%20작업/images/help_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                <span class="sidebar-text">문의</span>-->
<!--            </div>-->

<!--            <div class="toggle-container">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/light_mode_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                <input type="checkbox" id="darkModeToggle" class="darkMode-checkbox">-->
<!--                <label for="darkModeToggle" class="darkMode-label"></label>-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/dark_mode_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                </label>-->
<!--            </div>-->
<!--        </div> &lt;!&ndash; end sidebar &ndash;&gt;-->

<!--        <div class="article">-->
<!--            -->
<!--            <div class="navigation">-->
<!--                <div class="navigation-menu">-->
<!--                    <img class="navigation-menu-icon" src="../../../../../../Desktop/뷰%20작업/images/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--                </div>-->
<!--                <div class="sitename font-size-small">사이트이름</div>-->
<!--                <div class="user">회원가입</div>-->
<!--            </div>&lt;!&ndash; end navigation &ndash;&gt;-->

<!--            &lt;!&ndash; <div class="searchbar">-->
<!--                <div class="searchbar-container">-->
<!--                    <span class="searchbar-icon">-->
<!--                        <img src="../images/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="Search Icon">-->
<!--                    </span>-->
<!--                    <input type="text" placeholder="검색...">-->
<!--                </div>-->
<!--            </div>end searchbar &ndash;&gt;-->

<!--            <link href="../../../../../../Desktop/뷰%20작업/css/admin.css" rel="stylesheet">-->

<!--            <div class="content">-->

<!--            </div>&lt;!&ndash; end content &ndash;&gt;-->

<!--            <div class="footer">-->
<!--                비상 연락망 등 기재 바람-->
<!--            </div>&lt;!&ndash; end footer &ndash;&gt;-->
<!--            -->
<!--        </div>&lt;!&ndash; end article &ndash;&gt;-->
<!--       -->
<!--    </div>&lt;!&ndash; end main &ndash;&gt;-->
<!--    -->
<!--    -->
<!--    <div class="music-player" id="musicPlayer">-->

<!--        &lt;!&ndash; 1. 앨범이미지, 곡정보, 시작버튼 &ndash;&gt;-->
<!--        <div class="player-left">-->
<!--            <div class="music-player-img">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/library_add_check_50dp_32ADE6_FILL0_wght400_GRAD0_opsz48.svg" alt="앨범이미지">-->
<!--            </div>-->

<!--            <div class="music-player-info">-->
<!--                <span class="music-player-info-title">Henglias</span>-->
<!--                <span class="music-player-info-writer">Jonsi</span>-->
<!--            </div>-->

<!--            <div class="music-player-play" id="playButton">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/play_circle_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="플레이">-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; end player-left &ndash;&gt;-->

<!--        &lt;!&ndash; 2. 러닝타임, 웨이브파형 &ndash;&gt;-->
<!--        <div class="player-middle">-->
<!--            <div class="music-player-time">-->
<!--                02:47/03:43-->
<!--            </div>-->

<!--            <div class="music-player-waveform">-->
<!--                <span>(Song WaveForm)</span>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; end player-middle &ndash;&gt;-->

<!--        &lt;!&ndash; 3. 다운로드, 좋아요, 음량, 복사 &ndash;&gt;-->
<!--        <div class="player-right">-->
<!--            <div class="music-player-volume">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/volume_up_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="볼륨">-->
<!--            </div>-->

<!--            <div class="music-player-slider">-->
<!--                <input type="range" class="volume-slider" min="0" max="100" value="50">-->
<!--            </div>-->

<!--            <div class="music-player-download">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/download_50dp_32ADE6_FILL0_wght400_GRAD0_opsz48.svg" alt="다운로드">-->
<!--            </div>-->

<!--            <div class="music-player-favorite">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/heart_plus_50dp_32ADE6_FILL0_wght400_GRAD0_opsz48.svg" alt="좋아요">-->
<!--            </div>-->

<!--            <div class="music-player-copy">-->
<!--                <img src="../../../../../../Desktop/뷰%20작업/images/link_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="링크복사" id="copyLinkButton">-->
<!--            </div>-->

<!--            <div class="copy-notification" id="copyNotification">링크가 복사되었습니다!</div>-->
<!--        </div>&lt;!&ndash; end player-right &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end music-player &ndash;&gt;-->

<!--    &lt;!&ndash; 다크모드 js &ndash;&gt;-->
<!--    <script src="../../../../../../../Desktop/뷰%20작업/js/darkmode.js"></script>-->

<!--    &lt;!&ndash; 사이드바 확장 js &ndash;&gt;-->
<!--    <script src="../../../../../../../Desktop/뷰%20작업/js/sidebarExpand.js"></script>-->

<!--    &lt;!&ndash; 뮤직 플레이어 js &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
