<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch API Test</title>
</head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
<h1>API Test</h1>

<!-- 버튼을 클릭하면 API 호출 -->
<button id="getAlbums">Get Albums</button>
<button id="getMusic">Get Musics</button>
<button id="getTags">Get TAgs</button>

<br>
<hr>

<input type="text" id="nicknameInput" placeholder="Enter nickname">
<button id="getMusicWithNickname">Search Music by Nickname</button>

<div id="response"></div>

<script type="module">
    import * as METHOD from '/js/fetch/standardMethod.js';
    import * as URL from '/js/fetch/baseUrls.js';

    document.getElementById("getAlbums").addEventListener("click", async () => {
        const response = await METHOD.get(URL.API_ENDPOINTS.readAlbums);
        document.getElementById("response").innerText = JSON.stringify(response, null, 2);
    });

    document.getElementById("getMusic").addEventListener("click", async()=>{
        const response = await METHOD.get(URL.API_ENDPOINTS.readSounds);
        document.getElementById("response").innerText = JSON.stringify(response, null, 2);
    });

    document.getElementById("getMusicWithNickname").addEventListener("click", async () => {
        const keyword = document.getElementById("nicknameInput").value;
        const params = { keyword, type:"n" };
        const response = await METHOD.get(URL.API_ENDPOINTS.readSounds, params)
        document.getElementById("response").innerText = JSON.stringify(response, null, 2);
    });




    document.getElementById("getTags").addEventListener("click", async()=>{
        const response = await METHOD.get(URL.API_ENDPOINTS.readTags);
        document.getElementById("response").innerText = JSON.stringify(response, null, 2);
    });



</script>
</body>
</html>
