<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="../css/login.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="content-header">
        로그인
    </div>

    <div class="content-body">
        <form id="login-form" class="login-form" action="/login" method="post">
            <div class="input-group">
                <label for="email">이메일</label>
<!--                <input type="email" id="email" name="email" placeholder="이메일 입력" required>-->
                    <input type="text" id="email" name="username" placeholder="이메일 입력" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호 입력" required>
            </div>

            <button type="submit">로그인</button>

<!--            <label for="remember-me">자동 로그인</label>-->
<!--            <input type="checkbox" id="remember-me" name="remember-me">-->
        </form>
    </div>

    <div class="content-footer" >
        <span><a href="">아이디 찾기</a></span>
        <span class="separator">|</span>
        <span><a href="/help/find-password">비밀번호 찾기</a></span>
    </div>
</div>
</body>
<th:block layout:fragment="script">


    <script type="module">
        import { getLoginFormProcess } from "/js/security/login.js";

        const searchContainer = document.querySelector('#searchbar');
        console.log(searchContainer);

        document.addEventListener("DOMContentLoaded", () => {
            getLoginFormProcess();
        });
    </script>

</th:block>>

</html>