<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sound Test</title>
</head>
<body>
<h1>Sound Test</h1>
<!-- 음원 스트리밍 테스트를 위한 오디오 플레이어 -->
<audio id="audioPlayer" controls>
    Your browser does not support the audio element.
</audio>

<audio id="audioPlayer2" controls>
    <source src="/sounds/TestSound-SpaceOddity.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<button id="playButton">Play</button>

</body>
<script>
    document.getElementById("playButton").addEventListener("click", function() {
        const audioPlayer = document.getElementById("audioPlayer");
        const fileName = "TestSound-SpaceOddity.mp3"; // 실제 파일명
        const streamUrl = `/stream/${fileName}`;

        // src 속성을 동적으로 설정하여 스트리밍 시작
        audioPlayer.src = streamUrl;
        audioPlayer.load();  // 새로운 src로 로딩
        audioPlayer.play();  // 자동으로 재생 시작
    });
</script>
</html>
