<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독 정책 관리자 페이지</title>
</head>
<body>
<!-- 본문 컨텐츠 -->
<div layout:fragment="content">
    <div class="content-header">
        <h1>구독 정책 관리자 페이지</h1>
    </div>

    <div class="content-body" id="content-body">
        <!-- 여기에 renderSubscriptionInfo()로 테이블이 삽입됩니다. -->
    </div>
</div>

<!-- 스크립트 영역 -->
<th:block layout:fragment="script">
    <script type="module">

    </script>
</th:block>
</body>
</html>
