<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<th:block layout:fragment="script">
    <!-- 해당 페이지 전용 js-->
    <script th:src="@{/js/admin-albums.js}"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Albums</title>
    <link th:href="@{/css/admin-albums.css}" rel="stylesheet">
</head>

<body>
    <div class="content" layout:fragment="content">
        <div class="content-header">Admin Albums</div>
        <div class="content-body">
            <!-- Table for Album Management -->
            <h3>앨범 관리</h3>
            <table class="table-container">
                <tr>
                    <th>ID</th>
                    <th>아티스트</th>
                    <th>타이틀</th>
                    <th>앨범 설명</th>
                    <th>업로드일</th>
                    <th>수정일</th>
                    <th>작업</th>
                </tr>
                <th:block th:if="${albums.present}">
                <tr th:each="album : ${albums.get()}">
                    <td th:text="${album.albumId}">1</td>
                    <td th:text="${album.userId}">Jonsi</td>
                    <td th:text="${album.albumName}">My Album Title</td>
                    <td th:text="${album.description}">My Album Description</td>
                    <td th:text="${#temporals.format(album.create_date ,'yyyy-MM-dd')}">2024-01-10</td>
                    <td th:text="${#temporals.format(album.modify_date, 'yyyy-MM-dd')}">2024-01-10</td>
                    <td>
                        <!-- Delete button -->
                        <button class="delete-button" onclick="confirmDelete([[${album.albumId}]])">삭제</button>
                    </td>
                </tr>
                <!-- Repeat rows as needed -->
                </th:block>
                <tr th:if="${!albums.present}">
                    <td colspan="7">앨범이 없습니다.</td>
                </tr>
            </table>
        </div>
    </div>
</body>

<!-- Additional JS scripts -->
<script src="/static/js/darkmode.js"></script>
<script src="/static/js/sidebarExpand.js"></script>
</html>
