<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<th:block layout:fragment="script">
    <!-- 해당 페이지 전용 js-->
    <script th:src="@{/js/admin-musics.js}"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Albums</title>
    <link th:href="@{/css/admin-musics.css}" rel="stylesheet">
</head>

<body>
    <div class="content" layout:fragment="content">
        <div class="content-header">Admin Musics</div>
        <div class="content-body">
            <!-- Table for Album Management -->
            <h3>음원 관리</h3>
            <table class="table-container">
                <tr>
                    <th>ID</th>
                    <th>아티스트</th>
                    <th>타이틀</th>
                    <th>음원 설명</th>
                    <th>음원 타입</th>
                    <th>업로드일</th>
                    <th>수정일</th>
                    <th>작업</th>
                </tr>
                <th:block th:if="${sounds.present}">
                <tr th:each="sound : ${sounds.get()}">
                    <td th:text="${sound.musicId}">1</td>
                    <td th:text="${sound.userId}">Jonsi</td>
                    <td th:text="${sound.title}">My M Title</td>
                    <td th:text="${sound.description}">My M Description</td>
                    <td th:text="${sound.soundType}">sound</td>
                    <td th:text="${#temporals.format(sound.create_date, 'yyyy-MM-dd')}">2024-01-10</td>
                    <td th:text="${#temporals.format(sound.modify_date, 'yyyy-MM-dd')}">2024-01-10</td>
                    <td>
                        <!-- Delete button -->
                        <button class="delete-button" onclick="confirmDelete([[${sound.musicId}]])">삭제</button>
                    </td>
                </tr>
                <!-- Repeat rows as needed -->
                </th:block>
                <tr th:if="${!sounds.present}">
                    <td colspan="7">음원이 없습니다.</td>
                </tr>
            </table>

        </div>
    </div>
</body>

<!-- Additional JS scripts -->
<script src="/static/js/darkmode.js"></script>
<script src="/static/js/sidebarExpand.js"></script>
<script src="/static/js/musicPlayer.js"></script>
</html>
