<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">
    <div class="content-header">
        Sounds Manage
    </div>
    <div class="content-body">
        <div class="question-list">
            <div class="frequently-list">
                <span class="question-title">Sounds Manage</span>
                <div><span class="sub-text">어드민을 위한 음원, 앨범관리 그리고 태그의 글자 수정 및 추가</span></div>
                <li>
                    <span class="main-text">음원 삭제</span><br>
                    <span class="sub-text">Album Delete</span>
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    <span class="main-text">앨범 삭제</span><br>
                    <span class="sub-text">Music Delete</span>
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    <span class="main-text">태그 수정</span><br>
                    <span class="sub-text">Instrument, Mood, Genre Tags Modify</span>
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
            </div>

        </div>
    </div>
    </div><!-- end article -->
</body>
<!-- 다크모드 js -->
<script src="/static/js/darkmode.js"></script>
<!-- 사이드바 확장 js -->
<script src="/static/js/sidebarExpand.js"></script>
<!-- 뮤직 플레이어 js -->
<script src="/static/js/musicPlayer.js"></script>
</html>
