.linkDiv {
    display: flex;
    gap: 20px; /* 영역 사이 간격 (선택 사항) */
}
.statistics-section,
.frequently-list {
    flex: 1; /* 두 영역의 너비를 동일하게 함 */
    padding: 10px;
    border: 1px solid #ccc; /* 경계선 추가 (선택 사항) */
}

.frequently-list > li , .additional-list > li{
    /* border: 1px solid black;  */
    border-radius: 100px;
    padding: 20px;
    margin-top: 40px;
    list-style: none;

    /* 새로 추가된 스타일 */
    display: flex; /* 플렉스 박스로 전환 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 양 끝 정렬 */
}


.frequently-list > li:hover , .additional-list > li:hover{
    background-color: rgb(227, 227, 227);
}

.question-title {
    padding: 10px 20px;
    border: 2px solid rgb(165, 165, 165); /* 아웃라인 */
    border-radius: 20px; /* 곡률 추가 */
    display: inline-block; /* 텍스트 주변에만 스타일 적용 */
    margin-bottom: 20px; /* 여백 추가 */
    font-weight: bold; /* 텍스트 강조 */
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .linkDiv{
        flex-direction: column;
    }

   .question-list{
    flex-direction: column;
   }

   .frequently-list{
    width: 100%;
   }

   .additional-list{
    width: 100%;
   }
}
